@import "tailwindcss";

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(130%);
  }
}

.animate-slide-right {
  animation: slideRight 3s linear infinite;
}